#root {
    height: 100vh;
    /* background-color: rgb(212, 220, 241); */

}



body {
    margin: 0px;
}

.main {
    padding: 30px;
    min-height: calc(100vh - 140px);
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    background-color: rgb(212, 220, 241);
    /* padding-top: 30px; */
}